<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layer/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <div th:replace="layer/header :: header"></div>
    <div th:replace="layer/sidebar :: aside"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                <li class="active"></li>
            </ol>
        </section>

        <section class="content">
        <div>
            <div class="box box-primary" id="monthlyReportChartContainer">
                <div class="box-header with-border">
                    <h3 class="box-title">Tổng Chi phí và Doanh thu</h3>
                </div>
                <div class="box-body" style="width: 50%; margin: auto;">
                    <canvas id="productProductionChart" width="800" height="400"></canvas>
                </div>
            </div>
        </div>

        </section>

    </div>

    <div th:replace="layer/footer :: footer"></div>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/adminlte.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    const productData = /*[[${productProductionData}]]*/ [];
        const labels = productData.map(item => item.name);
        const quantities = productData.map(item => item.quantity);

        const ctx = document.getElementById('productProductionChart').getContext('2d');
        const productProductionChart = new Chart(ctx, {
            type: 'polarArea',  // Sử dụng Polar Area Chart
            data: {
                labels: labels,
                datasets: [{
                    label: 'Số lượng sản phẩm',
                    data: quantities,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    }
                }
            }
        });
</script>
</body>
</html>
